@using WebMaze.DbStuff.Model.UserAccount
@using WebMaze.Models.Transactions
@model TransactionViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Make" method="post">
    <div class="form-group">
        <label asp-for="RecipientLogin"></label>
        <input asp-for="RecipientLogin" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<TransactionCategory>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-sm btn-primary">Make</button>
    </div>
</form>