@using WebMaze.Services
@inject UserService userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebMaze</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/UserAccount.css?t=@DateTime.Now.Ticks" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/user-account-layout.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebMaze</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a class="nav-link text-dark" href="/Home/Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="nav-link text-dark" href="/Account/MyProfile">Profile @userService.GetCurrentUser()?.Login</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" href="/Account/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-dark" href="/Account/Login">Login</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" href="/Account/Registration">Registration</a>
                            </li>
                        }
                        <li>
                            <a class="nav-link text-dark" href="/Student/Index">Students page</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <vc:balance-summary />
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <ul class="list-group">
                <li class="list-group-item">
                    <a asp-controller="Account" asp-action="MyProfile">My profile</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Messenger</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Friends">Friends</a>
                </li>
                <li class="list-group-item pr-3">
                    <a data-toggle="collapse" href="#tasksCollapse" aria-expanded="true" aria-controls="tasksCollapse" class="dropdown-toggle text-right">
                        Tasks
                    </a>
                    <ul class="list-group list-group-flush bg-light p-0 collapse" id="tasksCollapse">
                        <li class="list-group-item border-0 p-0 pl-2">
                            <hr class="m-0" />
                            <a asp-action="Tasks" asp-controller="UserTasks" asp-route-relativeDateString="Today">Today</a>
                        </li>
                        <li class="list-group-item border-0 p-0 pl-2">
                            <a asp-action="Tasks" asp-controller="UserTasks" asp-route-relativeDateString="Tomorrow">Tomorrow</a>
                        </li>
                        <li class="list-group-item border-0 p-0 pl-2">
                            <a asp-action="Tasks" asp-controller="UserTasks" asp-route-relativeDateString="NextSevenDays">Next 7 days</a>
                        </li>
                        <li class="list-group-item border-0 p-0 pl-2">
                            <a asp-action="Tasks" asp-controller="UserTasks" asp-route-relativeDateString="Upcoming">Upcoming</a>
                        </li>
                        <li class="list-group-item border-0 p-0 pl-2">
                            <a asp-action="Tasks" asp-controller="UserTasks" asp-route-relativeDateString="Completed">Completed</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Certificates">Certificates</a>
                </li>
                <li class="list-group-item">
                    <a asp-action="Index" asp-controller="Transactions">Transactions</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <main role="main" class="row justify-content-center pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            Этот сайт сделал я сам
        </div>
    </footer>
</body>
</html>
