@using WebMaze.Models.Police
@model PolicemanViewModel
@{
    Layout = "_PoliceLayout";
    ViewBag.Title = $"{Model.ProfileVM.Login}";
}

<h2 class="mb-4">Тестовый личный кабинет пользователя @Model.ProfileVM.Login</h2>

<div class="row justify-content-center justify-content-md-start">
    <div class="mb-4 col-6 col-md-3 order-md-last">
        <div class="card">
            <div class="card-img">
                <img src="@Model.ProfileVM.AvatarUrl" class="rounded img-fluid" />
                <hr />
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.ProfileVM.Login</h5>
                <p class="card-text text-success">@Model.RankString</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            @if (!Model.IsPoliceman)
            {
                <div class="mb-4 col-12">
                    <div class="card">
                        <div class="card-header">Верификация</div>
                        <div class="card-body">
                            <h5 class="card-title text-warning">Внимание</h5>
                            <p class="card-text">
                                Внимание, вы не прошли подтверждение аккаунта. <br>
                                Чтобы получить доступ ко всем действиям, вам надо пройти верификацию аккаунта
                            </p>
                            <a class="btn btn-primary" asp-controller="Police" asp-action="SignUp">Перейти</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="mb-3 col-12">
                    <div class="card">
                        <div class="card-header">Преступления</div>
                        <div class="card-body row">
                            <div class="col-12">
                                <h5 class="card-title">Последние преступления в городе</h5>
                            </div>
                            <div class="col-12">
                                <ul class="list-group mb-3 violation-container" data-max="5">
                                    <li class="text-right list-group-item list-group-item-action violation-item">
                                        <div class="row">
                                            <p class="col m-0 v-user"></p>
                                            <p class="col m-0 v-policeman"></p>
                                            <p class="col m-0 v-date"></p>
                                        </div>
                                        <a class="stretched-link v-link"></a>
                                    </li>
                                </ul>
                            </div>
                            <div id="violation-not-found" class="col-12 row justify-content-center">
                                <div class="col-12">
                                    <h5 class="text-center">Not Found</h5>
                                </div>
                                <div class="mb-3 col-6">
                                    <img class="img-fluid" src="~/image/Police/not-found-img.jpg" />
                                </div>
                            </div>
                            <div class="col-12">
                                <a class="btn btn-outline-primary stretched-link" asp-controller="Police" asp-action="Criminal">Ещё</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>