@{
    Layout = "_PoliceLayout";
    ViewBag.Title = "Полиция города";
}

<div class="p-md-5 p-4 mb-4 text-white bg-darker rounded">
    <div class="col-md-10 px-0">
        <h1 class="display-4 font-italic">Важность роли полицейского в современном мире</h1>
        <p class="lead my-3">
            Полиция каждый день защищает и спасает сотни людей по всему городу.
            Узнайте, что творится внутри этой масшатбной системы, и попробуйте себя в роли полицейского
        </p>
        <p class="lead">
            <a href="#" class="text-white font-underline">Читать дальше</a>
        </p>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Внутри системы</strong>
                <h3 class="mb-1">Стать полицейским</h3>
                <p class="card-text mb-auto">Заполните о себе информацию, и смело становитесь защитником прав человека</p>
                <a class="stretched-link" asp-controller="Police" asp-action="VerifyUser">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Справки</strong>
                <h3 class="mb-1">Моя информация</h3>
                <p class="card-text mb-auto">Посмотрите, есть ли у вас судимости, как обстоят дела с вашими заявлениями, и узнайте про имеющиеся штрафы</p>
                <a class="stretched-link" asp-controller="Police" asp-action="Account">Перейти</a>
            </div>
        </div>
    </div>
</div>
