@using WebMaze.Models.Transactions
@using WebMaze.DbStuff.Model.UserAccount
@model TransactionViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form action="javascript:void(0);" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <input asp-for="Type" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<TransactionCategory>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="SenderLogin"></label>
        <input asp-for="SenderLogin" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RecipientLogin"></label>
        <input asp-for="RecipientLogin" class="form-control" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-sm btn-primary">Make</button>
    </div>
</form>