@using WebMaze.Models.Certificates
@{
    Layout = "_LayoutUserAccount";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h1>Certificate CRUD</h1>
                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <button id="addToggle" class="btn btn-primary btn-sm m-2"><h3>Add certificate</h3></button>
                                        <div id="addForm">
                                            <partial name="_AddCertificatePartial" model="new CertificateViewModel() {IssueDate = DateTime.Now, ExpiryDate = DateTime.Now + TimeSpan.FromDays(365)}" />
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <button class="btn btn-primary btn-sm m-2"><h3>Update certificate</h3></button>
                                        <div id="updateForm">
                                            <partial name="_AddCertificatePartial" model="new CertificateViewModel()" />
                                        </div>
                                    </div>
                                </div>
                                <div id="counter" class="m-2"></div>
                                <table class="table table-sm table-striped table-bordered m-2">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Issued by</th>
                                        <th>Issue date</th>
                                        <th>Expiry date</th>
                                        <th>Status</th>
                                        <th>Owner</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tbody id="tBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Uri = "@Url.Action("GetCertificates", "CertificatesApi", null, Url.ActionContext.HttpContext.Request.Scheme)";
    $('#addForm form').hide();
    $('#updateForm form').hide();

    function displayUpdateForm(id) {
        var updateForm = $('#updateForm form');
        $('input[name ="Id"]', updateForm).val(id);
        $.get(`${Uri}/${id}`).done(function (item) {
            $('input[name ="Name"]', updateForm).val(item.name);
            $('input[name ="Description"]', updateForm).val(item.description);
            $('input[name ="ImageUrl"]', updateForm).val(item.imageUrl);
            $('input[name ="ExpiryDate"]', updateForm).val(item.expiryDate.substring(0, 16));
            $('input[name ="IssueDate"]', updateForm).val(item.issueDate.substring(0, 16));
            $('input[name ="IssuedBy"]', updateForm).val(item.issuedBy);
            $('input[name ="Status"]', updateForm).val(item.status);
            $('input[name ="OwnerLogin"]', updateForm).val(item.ownerLogin);
        });
        updateForm.find('button').empty();
        updateForm.find('button').append('Update');
        updateForm.show();
    }
</script>

<script src="/js/administration.js" asp-append-version="true"></script>
