@{
    Layout = "_LayoutUserAccount";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <a asp-action="Index" asp-controller="Roles" class="nav-link border">
                                    <img src="~/image/Shared/Roles.png" height="70" class="rounded" alt="Roles" />
                                    <figcaption>Roles</figcaption>
                                </a>
                            </div>
                            <div class="col-3">
                                <a asp-action="Certificates" class="nav-link border">
                                    <img src="~/image/Shared/Certificates.png" height="70" class="rounded" alt="Roles" />
                                    <figcaption>Certificates</figcaption>
                                </a>
                            </div>
                            <div class="col-3">
                                <a asp-action="Tasks" class="nav-link border">
                                    <img src="~/image/Shared/UserTasks.png" height="70" class="rounded" alt="Roles" />
                                    <figcaption>Tasks</figcaption>
                                </a>
                            </div>
                            <div class="col-3">
                                <a asp-action="Transactions" class="nav-link border">
                                    <img src="~/image/Shared/Transactions.png" height="70" class="rounded" alt="Roles" />
                                    <figcaption>Transactions</figcaption>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>