@model WebMaze.Models.Account.AdressViewModel

<form asp-action="SaveAddress" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="OwnerLogin"/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HouseNumber"></label>
        <input asp-for="HouseNumber" class="form-control" />
        <span asp-validation-for="HouseNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary my-2">Add address</button>
    </div>
</form>