
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                @*для вставки своей картинки, копировать отсюда*@
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/HealthDepartment/HealthDepartment"><img src="~/image/Mochalkin/Logo.jpg" height="70" class="rounded" /></a>
                    <figcaption>Medicine</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/Police/Index"><img src="~/image/Police/police_main_logo.png" height="70" class="rounded" /></a>
                    <figcaption>Police</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/Tasks/Upcoming"><img src="~/image/Shared/UserTasks.png" height="70" class="rounded" /></a>
                    <figcaption>Tasks</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/Roles/Index"><img src="~/image/Shared/Roles.png" height="70" class="rounded" /></a>
                    <figcaption>Roles</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/Certificates/Index"><img src="~/image/Shared/Certificates.png" height="70" class="rounded" /></a>
                    <figcaption>Certificates</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/Transactions/Index"><img src="~/image/Shared/Transactions.png" height="70" class="rounded" /></a>
                    <figcaption>Transactions</figcaption>
                </div>
                <div class="col-4 col-sm-3 col-md-1 text-center m-3 p-0">
                    <a href="/Administration/Index"><img src="~/image/Shared/Administration.png" height="70" class="rounded" /></a>
                    <figcaption>Administration</figcaption>
                </div>
            </div>
        </div>
    </div>
</body>